<!DOCTYPE html>
{% load static %}
<html style="font-size: 16px;" lang="en-UZ">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="pychatt">
    <meta name="description" content="This is a website that helps to chat with people">
    <title>PyChatt - Simple and Powerful chat application</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/py-logo.ico' %}">
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>
    <link rel="stylesheet" href="{% static 'css/nicepage2.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/Home2.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery2.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/nicepage2.js' %}" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="canonical" href="pychatt.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="PyChatt - Simple and Powerful chat application">
    <meta property="og:description" content="This is a website that helps to chat with people">
    <meta property="og:url" content="pychatt.com">
    <meta property="og:type" content="website">
    <script>
        setInterval(function(){
            $( "#divID" ).load(window.location.href + " #divID > *" );
        }, 1000);
    </script>
</head>
<body>

<header class="u-clearfix u-grey-30 u-header u-header" id="sec-5047">
    <div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
        <a href="{% url 'home' %}" class="u-image u-logo u-image-1" data-image-width="750" data-image-height="750">
            <img src="{% static 'images/pychatt__1_-removebg-preview1.png' %}" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
                    {% if request.user.is_authenticated %}
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-palette-1-base u-border-grey-90 u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-1-base"
                            style="padding: 10px 0px;">{{ request.user.username }}</a>
                    </li>
                                        <li class="u-nav-item"><a href="{% url 'log-out' %}"
                                              class="u-border-2 u-border-active-palette-1-base u-border-grey-90 u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-1-base"
                                              style="padding: 10px 0px;">Log out</a>
                    </li>
                    {% else %}
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-palette-1-base u-border-grey-90 u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-1-base"
                            href="{% url 'sign-up' %}" style="padding: 10px 0px;">Sign Up</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-palette-1-base u-border-grey-90 u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-1-base"
                            href="{% url 'login' %}" style="padding: 10px 0px;">Login</a>
                    </li>
                    {% endif %}
                    <li class="u-nav-item"><a href="{% url 'friends' %}"
                                              class="u-border-2 u-border-active-palette-1-base u-border-grey-90 u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-1-base"
                                              style="padding: 10px 0px;">Chat with people</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html">Sign Up</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html">Login</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link">Chat with people</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
        <form action="{% url 'search-profile' %}" method="post" class="u-border-1 u-border-grey-30 u-radius-37 u-search u-search-right u-white u-search-1">
            {% csrf_token %}
            <button class="u-search-button" type="submit">
            <span class="u-icon-circle u-palette-1-base u-search-icon u-spacing-10 u-search-icon-1">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 56.966 56.966"><use
                      xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e641"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-e641" x="0px" y="0px"
                   viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" class="u-svg-content"><path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path></svg>
            </span>
            </button>
            <input class="u-search-input" type="search" name="user" value="user" id="user" placeholder="Search users">
        </form>
    </div>
</header>
{% block content %}

{% endblock %}
</body>
<footer class="u-clearfix u-footer u-grey-80" id="sec-23a1">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1">
            <a class="u-social-url" title="facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100082083169742"><span
                    class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                                                                                 viewBox="0 0 112 112" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f15a"></use></svg><svg class="u-svg-content"
                                                                                                       viewBox="0 0 112 112" x="0" y="0"
                                                                                                       id="svg-f15a"><circle
                    fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
            </a>
            <a class="u-social-url" title="instagram" target="_blank" href="https://www.instagram.com/legion_of_legion/"><span
                    class="u-icon u-social-icon u-social-instagram u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                                                                                  viewBox="0 0 112 112" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-168b"></use></svg><svg class="u-svg-content"
                                                                                                       viewBox="0 0 112 112" x="0" y="0"
                                                                                                       id="svg-168b"><circle
                    fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path
                    fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path
                    fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
            </a>
            <a class="u-social-url" title="linkedin" target="_blank" href="https://www.linkedin.com/in/abdusamad-abdullakhanov-3302b823a/"><span class="u-icon u-social-icon u-social-linkedin u-icon-3"><svg
                    class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5083"></use></svg><svg class="u-svg-content"
                                                                                                       viewBox="0 0 112 112" x="0" y="0"
                                                                                                       id="svg-5083"><circle
                    fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
            </a>
            <a class="u-social-url" target="_blank" data-type="Telegram" title="Telegram" href="https://t.me/silent_beatboxer"><span
                    class="u-icon u-social-icon u-social-telegram u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                                                                                 viewBox="0 0 112 112" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f34d"></use></svg><svg class="u-svg-content"
                                                                                                       viewBox="0 0 112 112" x="0" y="0"
                                                                                                       id="svg-f34d"><circle
                    fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M18.4,53.2l64.7-24.9c3-1.1,5.6,0.7,4.7,5.3l0,0l-11,51.8c-0.8,3.7-3,4.6-6.1,2.8L53.9,75.8l-8.1,7.8
	c-0.9,0.9-1.7,1.6-3.4,1.6l1.2-17l31.1-28c1.4-1.2-0.3-1.9-2.1-0.7L34.2,63.7l-16.6-5.2C14,57.4,14,54.9,18.4,53.2L18.4,53.2z"></path></svg></span>
            </a>
            <a class="u-social-url" target="_blank" data-type="Github" title="Github" href="https://www.github.com/AbdusamadAbdullaxanov"><span
                    class="u-icon u-social-github u-social-icon u-icon-5"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                                                                               viewBox="0 0 112 112" style=""><use
                    xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5383"></use></svg><svg class="u-svg-content"
                                                                                                       viewBox="0 0 112 112" x="0" y="0"
                                                                                                       id="svg-5383"><circle
                    fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M88,51.3c0-5.5-1.9-10.2-5.3-13.7c0.6-1.3,2.3-6.5-0.5-13.5c0,0-4.2-1.4-14,5.3c-4.1-1.1-8.4-1.7-12.7-1.8
	c-4.3,0-8.7,0.6-12.7,1.8c-9.7-6.6-14-5.3-14-5.3c-2.8,7-1,12.2-0.5,13.5C25,41.2,23,45.7,23,51.3c0,19.6,11.9,23.9,23.3,25.2
	c-1.5,1.3-2.8,3.5-3.2,6.8c-3,1.3-10.2,3.6-14.9-4.3c0,0-2.7-4.9-7.8-5.3c0,0-5-0.1-0.4,3.1c0,0,3.3,1.6,5.6,7.5c0,0,3,9.1,17.2,6
	c0,4.3,0.1,8.3,0.1,9.5h25.2c0-1.7,0.1-7.2,0.1-14c0-4.7-1.7-7.9-3.4-9.4C76,75.2,88,70.9,88,51.3z"></path></svg></span>
            </a>
        </div>
    </div>
</footer>
</html>
