{% extends 'global-html.html' %}


{% block content %}
{% load static %}
<section class="u-clearfix u-image u-section-1" id="sec-c94f" data-image-width="910" data-image-height="607">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-opacity u-opacity-30 u-palette-2-light-1 u-shape-rectangle u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h1 class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xs u-title u-text-1">
                    Welcome to PyChatt!</h1>
                <h3 class="u-align-center u-text u-text-2">Social Media Web App powered by Django </h3>
                <p class="u-align-center-xs u-align-justify-lg u-align-justify-md u-align-justify-sm u-align-justify-xl u-text u-text-3">
                    <span style="text-decoration: underline !important;" class="u-text-grey-80">PyChatt</span> - independent website built
                    by a python web programmer. This is basically a chat app where you can chat with your friends. If you ever heard of or used
                    software called Telegram, well, this website is just like it! There is no any premium plan or formality things that may
                    make you feel tired in this app. This application is so simple that you even can not upload your profile image!&nbsp;
                    Just join to us by <a href="{% url 'sign-up' %}"
                                          class="u-active-none u-border-1 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-text-hover-palette-1-base u-btn-1"
                                          target="_blank">signing up</a>&nbsp;for our team and communicate with your&nbsp;acquaintances!
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
