{% extends 'global-html.html' %}

{% block content %}
{% load static %}
<section class="u-clearfix u-gradient u-section-4" id="sec-1223">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-gradient u-group u-radius-50 u-shape-round u-group-1">
            <div class="u-container-layout u-container-layout-1"><span
                    class="u-border-8 u-border-white u-file-icon u-icon u-icon-circle u-icon-1"><img src="{% static 'images/3408455.png' %}"
                                                                                                     alt=""></span>
                <h2 class="u-text u-text-default u-text-palette-2-base u-text-1">Login Now</h2>
                <div class="u-form u-login-control u-form-1">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <label class="u-label u-text-grey-30 u-label-3">Username *</label>
                        {{ form.username }}
                        <label class="u-label u-text-grey-30 u-label-3">Email *</label>
                        {{ form.email }}
                        <label class="u-label u-text-grey-30 u-label-3">Password *</label>
                        {{ form.password }}
                        <div class="u-align-center u-form-group u-form-submit u-label-top">
                            <input type="submit" value="submit" class="u-form-control-hidden">
                            <a href="#"
                               class="u-active-palette-1-base u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-dark-2 u-radius-50 u-btn-1">Login</a>
                        </div>
                        <input type="hidden" value="" name="recaptchaResponse">
                    </form>
                </div>
                <a href="{% url 'sign-up' %}"
                   class="u-border-active-palette-2-base u-border-hover-palette-2-base u-border-none u-btn u-button-style u-login-control u-login-create-account u-none u-text-palette-2-base u-btn-2">Don't
                    have an account?</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
